{% load leaflet_tags %}

{% leaflet_js %}

{% leaflet_css %}

<style type="text/css">
    #gis{
        width: 100%;
        height: 600px;
    }
</style>

<script>


    function our_layers(map,options){

        const CyclOSM = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
            });

        /* data */

        const data =  new L.GeoJSON.AJAX("{% url 'county_data' %}",{
            
        }).addTo(map);
    }
</script>

<script src="https://unpkg.com/leaflet-ajax/dist/leaflet.ajax.min.js"></script>

{% leaflet_map "gis" callback="window.our_layers" %}