<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'county' %}">County</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'const' %}">Constituency</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'county_table' %}">County Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'const_table' %}">Constituency Data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>